<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="/assets/images/hockey_cross.jpg">
  <login-root></login-root>
</div>






<!--<h2>Here are some links to help you start: hi {{creatorname}}</h2>
<button (click)="changeName()">change name</button>

<button (click)="addLogin()">Example Add</button>
<div *ngFor="let counter of counters">
  <h1>loop test</h1>
  <login-root></login-root>
</div>

<button (click)="deleteLogin()">Example Delete</button>-->

